In [5]:
import requests
from bs4 import BeautifulSoup
import re

import pandas as pd

def recuperer_contenu(url, nom_classe):
    try:
        response = requests.get(url)
        response.raise_for_status()
    except requests.RequestException as e:
        print(f"Erreur lors de la requête : {e}")
        return []
    
    soup = BeautifulSoup(response.text, 'html.parser')
    balises = soup.find_all(class_=nom_classe)
    
    return balises

In [6]:
# Recuperation des url 

import json
def read_json_file(file_path):
    try:
        # Ouverture et lecture du fichier JSON
        with open(file_path, 'r', encoding='utf-8') as file:
            # Conversion du contenu JSON en dictionnaire Python
            data = json.load(file)
            return data
    except FileNotFoundError:
        print(f"Erreur: Le fichier {file_path} n'existe pas")
        return None
    except json.JSONDecodeError:
        print(f"Erreur: Le fichier {file_path} n'est pas un JSON valide")
        return None
    except Exception as e:
        print(f"Une erreur inattendue s'est produite: {str(e)}")
        return None

def get_ship(data, name):
    return data[name]
    

def get_url(data,name):
    url = get_ship(data,name)['pledge_url']
    return url


data = read_json_file('shipDB_All.json')

# creation d une liste contenant toutes les url 
 
def list_ship(data):
    Flight_ready=[]
    In_Concept = []
    for i in data:
        if 'pledge_url' in data[i].keys():
            Flight_ready.append(i)
        else : 
            In_Concept.append(i)
    return Flight_ready,In_Concept

In [7]:
Flight_ready = [get_ship(data,i)['pledge_url']  for i in list_ship(data)[0]]

In [107]:
from collections import defaultdict

def fusion_complete(l):
    lst = lambda:list(range(0,0))
    resultat = defaultdict(lst)
    for d in l:
        for cle, valeur in d.items():
            resultat[cle].append(valeur)

    return dict(resultat)

In [108]:
#creation du dataframe

def DataBase():
    nomclasse = "l-sheet__block"
    dict = {}
    liste_dict=[]
    for i in Flight_ready[:5]:
        dict = {}
        for e in recuperer_contenu(i, nomclasse):
            e = e.text.replace("\n", "|").replace("\t", "")
            e = e.split("|")
            n = []
            for i in e:
                i = re.sub(r'\s+', ' ', i).strip()
                if len(i)!=0:
                    n.append(i)
            for i in range(0, len(n)-2, 2):
                dict[n[i]] = n[i+1]
        print(dict)
        #dict=fusioncomplete(dict,dict)
        liste_dict.append(dict)
    dict=fusion_complete( liste_dict)

    return dict

DB = DataBase()

Erreur lors de la requête : HTTPSConnectionPool(host='robertsspaceindustries.com', port=443): Max retries exceeded with url: /pledge/ships/origin-100/100i (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self-signed certificate in certificate chain (_ssl.c:1000)')))
{}
Erreur lors de la requête : HTTPSConnectionPool(host='robertsspaceindustries.com', port=443): Max retries exceeded with url: /pledge/ships/origin-100/125a (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self-signed certificate in certificate chain (_ssl.c:1000)')))
{}
Erreur lors de la requête : HTTPSConnectionPool(host='robertsspaceindustries.com', port=443): Max retries exceeded with url: /pledge/ships/origin-100/135c (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self-signed certificate in certificate chain (_ssl.c:1000)')))
{}
Erreur lors de la requête : HTTPSConnectionPool(host='robertsspaceindustries.com', port=443): Max retries exceeded with url: /pledge/ships/origin-300/300i (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self-signed certificate in certificate chain (_ssl.c:1000)')))
{}
Erreur lors de la requête : HTTPSConnectionPool(host='robertsspaceindustries.com', port=443): Max retries exceeded with url: /pledge/ships/origin-300/315p (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self-signed certificate in certificate chain (_ssl.c:1000)')))
{}

In [20]:
DB # probleme sur les valeurs: liste imbriquées

{'Focus': [[[[['Starter / Touring'], 'Starter / Light Fighter'],
    'Starter / Light Freight'],
   'Luxury / Touring'],
  'Pathfinder'],
 'Length': [[[[['19.3m'], '19.3m'], '19.3m'], '27.0m'], '27.0m'],
 'Beam': [[[[['11.0m'], '11.0m'], '11.0m'], '17.0m'], '17.0m'],
 'Height': [[[[['4.0m'], '4.0m'], '4.0m'], '8.0m'], '8.0m'],
 'Size': [[[[['Small'], 'Small'], 'Small'], 'Small'], 'Small'],
 'Cargo Capacity': [[[[['2'], '2'], '6'], '8'], '12'],
 'SCM Speed': [[[[['260 m/s'], '260 m/s'], '260 m/s'], '260 m/s'], '260 m/s'],
 'Afterburner Speed': [[[[['1,425 m/s'], '1,425 m/s'], '1,425 m/s'],
   '1,425 m/s'],
  '1,425 m/s'],
 'Min Crew': [[[[['1'], '1'], '1'], '1'], '1'],
 'Pitch Max': [[[[['- deg/s'], '- deg/s'], '- deg/s'], '- deg/s'], '- deg/s'],
 'Yaw Max': [[[[['- deg/s'], '- deg/s'], '- deg/s'], '- deg/s'], '- deg/s'],
 'Roll Max': [[[[['- deg/s'], '- deg/s'], '- deg/s'], '- deg/s'], '- deg/s'],
 'X-Axis Acceleration': [[[[['- m/s/s'], '- m/s/s'], '- m/s/s'], '- m/s/s'],
  '- m/s/s'],
 'Y-Axis Acceleration': [[[[['- m/s/s'], '- m/s/s'], '- m/s/s'], '- m/s/s'],
  '- m/s/s']}

In [21]:
DF = pd.DataFrame(DB)
DF

,Focus,Length,Beam,Height,Size,Cargo Capacity,SCM Speed,Afterburner Speed,Min Crew,Pitch Max,Yaw Max,Roll Max,X-Axis Acceleration,Y-Axis Acceleration
0,"[[[['Starter / Touring'], Starter / Light Figh...","[[[['19.3m'], 19.3m], 19.3m], 27.0m]","[[[['11.0m'], 11.0m], 11.0m], 17.0m]","[[[['4.0m'], 4.0m], 4.0m], 8.0m]","[[[['Small'], Small], Small], Small]","[[[['2'], 2], 6], 8]","[[[['260 m/s'], 260 m/s], 260 m/s], 260 m/s]","[[[['1,425 m/s'], 1,425 m/s], 1,425 m/s], 1,42...","[[[['1'], 1], 1], 1]","[[[['- deg/s'], - deg/s], - deg/s], - deg/s]","[[[['- deg/s'], - deg/s], - deg/s], - deg/s]","[[[['- deg/s'], - deg/s], - deg/s], - deg/s]","[[[['- m/s/s'], - m/s/s], - m/s/s], - m/s/s]","[[[['- m/s/s'], - m/s/s], - m/s/s], - m/s/s]"
1,Pathfinder,27.0m,17.0m,8.0m,Small,12,260 m/s,"1,425 m/s",1,- deg/s,- deg/s,- deg/s,- m/s/s,- m/s/s

In [48]:
vaisseaux =  recuperer_contenu('https://scfocus.org/ship-sale-rental-locations-history/',nom_classe= 'column-1')
prix= recuperer_contenu('https://scfocus.org/ship-sale-rental-locations-history/',nom_classe= 'column-2')

def url_to_list(D):
    L =[]
    for e in D:
        e = e.text.replace("\n", "|").replace("\t", "")
        e = e.split("|")
        L += e
    return L[1:]

prix_doublons= [i for i in zip(url_to_list(vaisseaux),url_to_list(prix))]
prix = dict(set(prix_doublons))

In [ ]:
prix_doublons
copie = prix

def clean_price(price_str):
    # Remove any parentheses and their content
    if '(' in price_str:
        price_str = price_str[:price_str.index('(')].strip()
    
    # Remove commas and convert to float
    values = list(price_str.values())
    for i in values:
        i =  i.replace(',', '')
    return values

# Process the dictionary

AttributeError: 'str' object has no attribute 'values'

In [11]:
recuperer_contenu('https://robertsspaceindustries.com/en/pledge/ships/origin-100/100i',nom_classe='statbox title')

[]

In [71]:
input_prices = prix

def clean_price(price_str):
    # Remove any parentheses and their content
    if '(' in price_str:
        price_str = price_str[:price_str.index('(')].strip()
    
    # Remove commas and convert to float
    return float(price_str.replace(',', ''))

# Process the dictionary
converted_prices = {k: clean_price(v) for k, v in input_prices.items()}
converted_prices

{'Cutter': 635040.0,
 'Constellation Aquila': 12186720.0,
 'Aurora ES': 8467.0,
 'Cyclone MT': 141750.0,
 'Cutlass Black': 61387.0,
 'Valkyrie': 19845000.0,
 'X1 Velocity': 119070.0,
 'Talon': 3260250.0,
 'Mustang Beta': 655200.0,
 'Dragonfly Yellowjacket': 342720.0,
 '125a': 1587600.0,
 'MPUV Cargo': 330750.0,
 '135c': 1490580.0,
 'Constellation Phoenix': 14817600.0,
 'Terrapin': 5433120.0,
 'Avenger Titan': 27165.0,
 'C2 Starlifter': 18900000.0,
 'Mantis': 3402000.0,
 '600i': 816952.0,
 'Nox': 722925.0,
 'Freelancer DUR': 3316950.0,
 'Hull A': 1701000.0,
 'Greycat ROC': 103950.0,
 'Banu Defender': 6237000.0,
 '315p': 1490580.0,
 'MISC Razor EX': 1757700.0,
 'Eclipse': 7938000.0,
 'Reliant Tana': 1984500.0,
 'Ballista': 1481760.0,
 'ALTS': 75600.0,
 'Herald': 1285200.0,
 'Avenger Titan Renegade': 1852200.0,
 'Sabre Firebird': 5874120.0,
 'A2 Hercules Starlifter': 44296876.0,
 'Hornet Wildfire F7C Mk 1': 4630500.0,
 'Corsair': 190008.0,
 'Reclaimer': 31752000.0,
 'X1 Force': 132300.0,
 '400i': 11466000.0,
 'Razor': 1863540.0,
 'MISC Razor LX': 1927800.0,
 'Khartu-al': 7229250.0,
 'Aurora LN': 22679.0,
 'Cutlass Red': 2857680.0,
 'Talon Shrike': 3260250.0,
 'Freelancer Max': 4252500.0,
 'Razor EX': 1757700.0,
 'Cutlass Blue': 3704400.0,
 'Mustang Gamma': 1178100.0,
 'Storm': 453600.0,
 'Reliant Sen': 2249100.0,
 'Constellation Taurus': 8043840.0,
 'Cyclone RC': 122850.0,
 'Cyclone AA': 151200.0,
 'Nomad': 1512000.0,
 'Raft': 3543750.0,
 'Ursa Medivac': 124740.0,
 'Storm AA': 476280.0,
 'Gatac Syulen': 2778300.0,
 'Dragonfly': 342720.0,
 '300i': 41277.0,
 'Reliant Mako': 2513700.0,
 'Redeemer': 17199000.0,
 'Spartan': 846720.0,
 'M50': 1499400.0,
 'Mustang Delta': 1228500.0,
 'Avenger Warlock': 2249100.0,
 'Greycat STV': 75600.0,
 'Sabre Comet': 4895100.0,
 'Horet Tracker F7C-R Mk I': 3210480.0,
 'Avenger Stalker': 1587600.0,
 'SRV': 3969000.0,
 'Cutter Rambler': 740880.0,
 'Cyclone': 103950.0,
 'Sabre Peregrine': 4048380.0,
 'Scorpius': 5443200.0,
 'RSI Aurora ES': 8467.0,
 'Aurora MR': 680400.0,
 'Vanguard Sentinel': 10914750.0,
 'Reliant Kore': 1719900.0,
 'Pisces C8': 745290.0,
 'Cyclone RN': 122850.0,
 '350r': 3748500.0,
 '85X': 573300.0,
 'Caterpillar': 12474000.0,
 'Cyclone TR': 122850.0,
 'Freelancer': 3118500.0,
 'Sabre': 4498200.0,
 'Buccaneer': 1663200.0,
 'Tumbril Cyclone': 2165.0,
 'Starfarer': 13230000.0,
 'Greycat PTV': 28350.0,
 'Fury Lx': 824670.0,
 'Ares Star Fighter Ion': 4725000.0,
 'C1 Spirit': 3118500.0,
 'Mustang Alpha': 642600.0,
 'Hornet F7C Mk I': 2910600.0,
 '890 Jump': 65365200.0,
 'Vanguard Harbinger': 11510100.0,
 'Gladius Valiant': 2910600.0,
 'Aurora CL': 1020600.0,
 'Hammerhead': 47958752.0,
 'Pulse': 185220.0,
 'M2 Starlifter': 29484000.0,
 'Mercury Star Runner': 12285000.0,
 'Gladius': 2381400.0,
 'Scorpius Antares': 5216400.0,
 'Hurricane': 5556600.0,
 'X1': 105840.0,
 'Vulture': 2646000.0,
 "San'tok.yai": 9355500.0,
 'M50 Interceptor': 44982.0,
 'Prospector': 2929500.0,
 'Aurora LX': 687960.0,
 'Pisces Expedition C8X': 515970.0,
 'Ares Star Fighter Inferno': 4725000.0,
 'M2 Hercules Starlifter': 29484000.0,
 'Anvil Arrow': 39690.0,
 'Vanguard Hoplite': 9327150.0,
 'Horet F7C-S Ghost Mk I': 3307500.0,
 'Constellation Andromeda': 203212.0,
 'Ursa Rover': 113400.0,
 'Retaliator': 7938000.0,
 'Mule': 68040.0,
 'Vanguard Warden': 10319400.0,
 'MPUV Personnel': 378000.0,
 'MPUV Tractor': 415800.0,
 'Cutter Scout': 705600.0,
 'Hull C': 16537500.0,
 'Hoverquad': 56700.0,
 'Centurion': 1164240.0,
 'Pisces Rescue C8R': 555660.0,
 'Gladiator': 4365900.0,
 'Razor LX': 1927800.0,
 'Supr Hornet F7C-M Mk I': 4762800.0,
 'Arrow': 39690.0,
 'P-52 Merlin': 283500.0,
 'Esperia Prowler': 18711000.0,
 'Nova': 907200.0,
 'Starfarer Gemini': 14994000.0,
 'ATLS': 75600.0,
 '100i': 1146600.0,
 'Greycat ROC-DS': 141750.0,
 'Hornet F7C Mk II': 4895100.0,
 'Argo Raft': 105851.0,
 'Carrack': 34398000.0,
 'A1 Spirit': 4961250.0,
 'Mole': 8930250.0,
 'Fury Mx': 727650.0,
 'Hawk': 2646000.0,
 '600i Touring': 24938550.0,
 'C2 Hercules Starlifter': 18900000.0,
 '325a': 1852200.0,
 'Cutlass Steel': 3997350.0,
 'P72 Archimedes': 449820.0,
 'Fury': 727650.0,
 'Blade': 7796250.0,
 'Freelancer MIS': 4961250.0}

In [72]:
stardle_db = pd.read_json('shipDB_Stardle.json').T
stardle_db = stardle_db.drop('description',axis = 1)
stardle_db

,name,dimensions,cargo_capacity,mass,crew,speed,manufacturer,type,status,role,price,release_date
100i,100i,19,2,48143,1,1425,Origin Jumpworks,multi,flight-ready,"{'0': 'Starter', '1': 'Touring'}",50.0,2020
125a,125a,19,2,48143,1,1425,Origin Jumpworks,multi,flight-ready,"{'0': 'Starter', '1': 'Light Fighter'}",60.0,2020
135c,135c,19,6,48143,1,1425,Origin Jumpworks,multi,flight-ready,"{'0': 'Starter', '1': 'Light Freight'}",65.0,2020
300i,300i,27,8,79677,1,1425,Origin Jumpworks,multi,flight-ready,"{'0': 'Touring', '1': 'Luxury'}",60.0,2014
315p,315p,27,12,80592,1,1425,Origin Jumpworks,exploration,flight-ready,{'0': 'Pathfinder'},65.0,2014
...,...,...,...,...,...,...,...,...,...,...,...,...
X1 Force,X1 Force,1.55,0,4730,1,569,Origin Jumpworks,exploration,flight-ready,{'0': 'Combat'},50.0,2023
X1 Velocity,X1 Velocity,1.55,0,4730,1,611,Origin Jumpworks,competition,flight-ready,{'0': 'Racing'},45.0,2023
Zeus CL Mk II,Zeus CL Mk II,46,128,295000,3,1000,Roberts Space Industries,transport,flight-ready,{'0': 'Medium Freight'},150.0,2024
Zeus ES Mk II,Zeus ES Mk II,46,32,295000,3,1050,Roberts Space Industries,exploration,flight-ready,{'0': 'Expedition'},150.0,2024
Zeus MR Mk II,Zeus MR Mk II,46,16,None,3,None,Roberts Space Industries,combat,in-concept,{'0': 'Interdiction'},190.0,Unreleased

In [87]:
stardle_db['name']['Freelancer MAX']

'Freelancer MAX'

In [104]:
stardle_db2 = stardle_db
stardle_db2.shape
#stardle_db2.assign(price = converted_prices.values())
cles = list(converted_prices.keys())
stardle = list(stardle_db2['name'])

def plugin(A,B):
    "A : grande liste B : plus petite liste "
    L=B
    for b in A:
        if b in B.keys():
            L=L
        else :
            L[b]= 42.0
    return L,len(L)

In [105]:
plugin(stardle,converted_prices)

({'Cutter': 635040.0,
  'Constellation Aquila': 12186720.0,
  'Aurora ES': 8467.0,
  'Cyclone MT': 141750.0,
  'Cutlass Black': 61387.0,
  'Valkyrie': 19845000.0,
  'X1 Velocity': 119070.0,
  'Talon': 3260250.0,
  'Mustang Beta': 655200.0,
  'Dragonfly Yellowjacket': 342720.0,
  '125a': 1587600.0,
  'MPUV Cargo': 330750.0,
  '135c': 1490580.0,
  'Constellation Phoenix': 14817600.0,
  'Terrapin': 5433120.0,
  'Avenger Titan': 27165.0,
  'C2 Starlifter': 18900000.0,
  'Mantis': 3402000.0,
  '600i': 816952.0,
  'Nox': 722925.0,
  'Freelancer DUR': 3316950.0,
  'Hull A': 1701000.0,
  'Greycat ROC': 103950.0,
  'Banu Defender': 6237000.0,
  '315p': 1490580.0,
  'MISC Razor EX': 1757700.0,
  'Eclipse': 7938000.0,
  'Reliant Tana': 1984500.0,
  'Ballista': 1481760.0,
  'ALTS': 75600.0,
  'Herald': 1285200.0,
  'Avenger Titan Renegade': 1852200.0,
  'Sabre Firebird': 5874120.0,
  'A2 Hercules Starlifter': 44296876.0,
  'Hornet Wildfire F7C Mk 1': 4630500.0,
  'Corsair': 190008.0,
  'Reclaimer': 31752000.0,
  'X1 Force': 132300.0,
  '400i': 11466000.0,
  'Razor': 1863540.0,
  'MISC Razor LX': 1927800.0,
  'Khartu-al': 7229250.0,
  'Aurora LN': 22679.0,
  'Cutlass Red': 2857680.0,
  'Talon Shrike': 3260250.0,
  'Freelancer Max': 4252500.0,
  'Razor EX': 1757700.0,
  'Cutlass Blue': 3704400.0,
  'Mustang Gamma': 1178100.0,
  'Storm': 453600.0,
  'Reliant Sen': 2249100.0,
  'Constellation Taurus': 8043840.0,
  'Cyclone RC': 122850.0,
  'Cyclone AA': 151200.0,
  'Nomad': 1512000.0,
  'Raft': 3543750.0,
  'Ursa Medivac': 124740.0,
  'Storm AA': 476280.0,
  'Gatac Syulen': 2778300.0,
  'Dragonfly': 342720.0,
  '300i': 41277.0,
  'Reliant Mako': 2513700.0,
  'Redeemer': 17199000.0,
  'Spartan': 846720.0,
  'M50': 1499400.0,
  'Mustang Delta': 1228500.0,
  'Avenger Warlock': 2249100.0,
  'Greycat STV': 75600.0,
  'Sabre Comet': 4895100.0,
  'Horet Tracker F7C-R Mk I': 3210480.0,
  'Avenger Stalker': 1587600.0,
  'SRV': 3969000.0,
  'Cutter Rambler': 740880.0,
  'Cyclone': 103950.0,
  'Sabre Peregrine': 4048380.0,
  'Scorpius': 5443200.0,
  'RSI Aurora ES': 8467.0,
  'Aurora MR': 680400.0,
  'Vanguard Sentinel': 10914750.0,
  'Reliant Kore': 1719900.0,
  'Pisces C8': 745290.0,
  'Cyclone RN': 122850.0,
  '350r': 3748500.0,
  '85X': 573300.0,
  'Caterpillar': 12474000.0,
  'Cyclone TR': 122850.0,
  'Freelancer': 3118500.0,
  'Sabre': 4498200.0,
  'Buccaneer': 1663200.0,
  'Tumbril Cyclone': 2165.0,
  'Starfarer': 13230000.0,
  'Greycat PTV': 28350.0,
  'Fury Lx': 824670.0,
  'Ares Star Fighter Ion': 4725000.0,
  'C1 Spirit': 3118500.0,
  'Mustang Alpha': 642600.0,
  'Hornet F7C Mk I': 2910600.0,
  '890 Jump': 65365200.0,
  'Vanguard Harbinger': 11510100.0,
  'Gladius Valiant': 2910600.0,
  'Aurora CL': 1020600.0,
  'Hammerhead': 47958752.0,
  'Pulse': 185220.0,
  'M2 Starlifter': 29484000.0,
  'Mercury Star Runner': 12285000.0,
  'Gladius': 2381400.0,
  'Scorpius Antares': 5216400.0,
  'Hurricane': 5556600.0,
  'X1': 105840.0,
  'Vulture': 2646000.0,
  "San'tok.yai": 9355500.0,
  'M50 Interceptor': 44982.0,
  'Prospector': 2929500.0,
  'Aurora LX': 687960.0,
  'Pisces Expedition C8X': 515970.0,
  'Ares Star Fighter Inferno': 4725000.0,
  'M2 Hercules Starlifter': 29484000.0,
  'Anvil Arrow': 39690.0,
  'Vanguard Hoplite': 9327150.0,
  'Horet F7C-S Ghost Mk I': 3307500.0,
  'Constellation Andromeda': 203212.0,
  'Ursa Rover': 113400.0,
  'Retaliator': 7938000.0,
  'Mule': 68040.0,
  'Vanguard Warden': 10319400.0,
  'MPUV Personnel': 378000.0,
  'MPUV Tractor': 415800.0,
  'Cutter Scout': 705600.0,
  'Hull C': 16537500.0,
  'Hoverquad': 56700.0,
  'Centurion': 1164240.0,
  'Pisces Rescue C8R': 555660.0,
  'Gladiator': 4365900.0,
  'Razor LX': 1927800.0,
  'Supr Hornet F7C-M Mk I': 4762800.0,
  'Arrow': 39690.0,
  'P-52 Merlin': 283500.0,
  'Esperia Prowler': 18711000.0,
  'Nova': 907200.0,
  'Starfarer Gemini': 14994000.0,
  'ATLS': 75600.0,
  '100i': 1146600.0,
  'Greycat ROC-DS': 141750.0,
  'Hornet F7C Mk II': 4895100.0,
  'Argo Raft': 105851.0,
  'Carrack': 34398000.0,
  'A1 Spirit': 4961250.0,
  'Mole': 8930250.0,
  'Fury Mx': 727650.0,
  'Hawk': 2646000.0,
  '600i Touring': 24938550.0,
  'C2 Hercules Starlifter': 18900000.0,
  '325a': 1852200.0,
  'Cutlass Steel': 3997350.0,
  'P72 Archimedes': 449820.0,
  'Fury': 727650.0,
  'Blade': 7796250.0,
  'Freelancer MIS': 4961250.0,
  '600i Explorer': 42.0,
  'A2 Hercules': 42.0,
  'Apollo Medivac': 42.0,
  'Apollo Triage': 42.0,
  'Arrastra': 42.0,
  'C2 Hercules': 42.0,
  'C8 Pisces': 42.0,
  'C8R Pisces': 42.0,
  'C8X Pisces Expedition': 42.0,
  'Caterpillar Pirate Edition': 42.0,
  'Crucible': 42.0,
  'CSV-SM': 42.0,
  'Defender': 42.0,
  'E1 Spirit': 42.0,
  'Endeavor': 42.0,
  'Expanse': 42.0,
  'F7A Hornet Mk I': 42.0,
  'F7A Hornet Mk II': 42.0,
  'F7C Hornet Mk I': 42.0,
  'F7C Hornet Mk II': 42.0,
  'F7C-M Super Hornet': 42.0,
  'F7C-R Hornet Tracker': 42.0,
  'F7C-R Hornet Tracker Mk II': 42.0,
  'F7C-S Hornet Ghost': 42.0,
  'F7C-S Hornet Ghost Mk II': 42.0,
  'F8C Lightning': 42.0,
  'Freelancer MAX': 42.0,
  'Fury LX': 42.0,
  'Fury MX': 42.0,
  'G12': 42.0,
  'G12a': 42.0,
  'G12r': 42.0,
  'Galaxy': 42.0,
  'Genesis': 42.0,
  'Glaive': 42.0,
  'Guardian': 42.0,
  'Guardian QI': 42.0,
  'HoverQuad': 42.0,
  'Hull B': 42.0,
  'Hull D': 42.0,
  'Hull E': 42.0,
  'Idris-M': 42.0,
  'Idris-P': 42.0,
  'Intrepid': 42.0,
  'Ironclad': 42.0,
  'Ironclad Assault': 42.0,
  'Javelin': 42.0,
  'Khartu-Al': 42.0,
  'Kraken': 42.0,
  'Kraken Privateer': 42.0,
  'Legionnaire': 42.0,
  'Liberator': 42.0,
  'Lynx': 42.0,
  'M2 Hercules': 42.0,
  'Merchantman': 42.0,
  'Mercury': 42.0,
  'MOLE': 42.0,
  'Mustang Omega': 42.0,
  'Nautilus': 42.0,
  'Odyssey': 42.0,
  'Orion': 42.0,
  'P-72 Archimedes': 42.0,
  'Paladin': 42.0,
  'Perseus': 42.0,
  'Pioneer': 42.0,
  'Polaris': 42.0,
  'Prowler': 42.0,
  'PTV': 42.0,
  'Pulse LX': 42.0,
  'RAFT': 42.0,
  'Railen': 42.0,
  'Ranger CV': 42.0,
  'Ranger RC': 42.0,
  'Ranger TR': 42.0,
  'ROC': 42.0,
  'ROC-DS': 42.0,
  'Sabre Raven': 42.0,
  "San'tok.yāi": 42.0,
  'Scythe': 42.0,
  'Starlancer MAX': 42.0,
  'Starlancer TAC': 42.0,
  'STV': 42.0,
  'Syulen': 42.0,
  'Terrapin Medic': 42.0,
  'Ursa': 42.0,
  'Vulcan': 42.0,
  'Zeus CL Mk II': 42.0,
  'Zeus ES Mk II': 42.0,
  'Zeus MR Mk II': 42.0},
 247)

In [106]:
stardle_db2.assign(price = plugin(stardle,converted_prices))

ValueError: Length of values (2) does not match length of index (202)