In [6]:
import pandas as pd
import numpy as np

data = pd.read_csv('data.csv')
data

,Unnamed: 0,name,cargo_capacity,mass,crew,manufacturer,type,status,role,price,release_date,price_ingame,scm,max,length,beam,height
0,0,100i,2,48143.0,1,Origin Jumpworks,multi,flight-ready,"{'0': 'Starter', '1': 'Touring'}",50.0,2020,1146600.0,260.0,1425.0,19.00,12.00,5.00
1,1,125a,2,48143.0,1,Origin Jumpworks,multi,flight-ready,"{'0': 'Starter', '1': 'Light Fighter'}",60.0,2020,1587600.0,260.0,1425.0,19.00,12.00,5.00
2,2,135c,6,48143.0,1,Origin Jumpworks,multi,flight-ready,"{'0': 'Starter', '1': 'Light Freight'}",65.0,2020,1490580.0,260.0,1425.0,19.00,12.00,5.00
3,3,300i,8,79677.0,1,Origin Jumpworks,multi,flight-ready,"{'0': 'Touring', '1': 'Luxury'}",60.0,2014,1375920.0,260.0,1425.0,27.00,17.00,8.00
4,4,315p,12,80592.0,1,Origin Jumpworks,exploration,flight-ready,{'0': 'Pathfinder'},65.0,2014,1490580.0,260.0,1425.0,27.00,17.00,8.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,196,X1 Force,0,4730.0,1,Origin Jumpworks,exploration,flight-ready,{'0': 'Combat'},50.0,2023,132300.0,207.0,569.0,1.55,5.19,1.87
197,197,X1 Velocity,0,4730.0,1,Origin Jumpworks,competition,flight-ready,{'0': 'Racing'},45.0,2023,119070.0,222.0,611.0,1.55,5.19,1.87
198,198,Zeus CL Mk II,128,295000.0,3,Roberts Space Industries,transport,flight-ready,{'0': 'Medium Freight'},150.0,2024,6804000.0,200.0,1000.0,45.70,34.30,7.00
199,199,Zeus ES Mk II,32,295000.0,3,Roberts Space Industries,exploration,flight-ready,{'0': 'Expedition'},150.0,2024,4422600.0,200.0,1050.0,45.70,34.30,7.00
200,200,Zeus MR Mk II,16,295000.0,3,Roberts Space Industries,combat,in-concept,{'0': 'Interdiction'},190.0,Unreleased,0.0,90.0,911.5,45.70,34.30,8.00

In [7]:
data['name']

0      100i
1      125a
2      135c
3      300i
4      315p
                  ...
196    X1 Force
197    X1 Velocity
198    Zeus CL Mk II
199    Zeus ES Mk II
200    Zeus MR Mk II
Name: name, Length: 201, dtype: object

In [12]:
n = []
L = list(data['name'])
for i in L:
    n.append(i.strip())
data['names']= n

In [10]:
def choisir_mot():
    # S√©lectionne un mot al√©atoire depuis le DataFrame
    # Assurez-vous que votre DataFrame a une colonne 'mot' ou ajustez le nom de la colonne
    return data['name'].sample().iloc[0]

def verifier_ship(ship_secret, ship_guess):
    L = list(data['name'])
    
    # V√©rifie si la tentative existe dans le DataFrame
    if not ship_guess in list(data['name']):
        return "Ce mot n'existe pas dans la base de donn√©es!"
    
    k = ship_guess .index(L)
    a = ship_secret.index(L)
    to_find = list(data.iloc[a,:])
    tentative = list(data.iloc[k,:])
    
    #Adapter cette boucle pour les colonnes ( oui/non quand c est qualitatif et "oui/non/proche" pour donn√©es quantitatives)
    resultat = []
    """for i in range(len(to_find)):
        if tentative[i] == to_find[i]:
            resultat.append(f"{tentative[i]}‚úÖ")  
        elif tentative[i] in to_find[i]:
            resultat.append(f"{tentative[i]}üü°")
        else:
            resultat.append(f"{tentative[i]}‚ùå")               
    return ' '.join(resultat)"""

def stardle():
    ship_secret = choisir_mot()
    tentatives = 6
    print("Bienvenue dans Stardle! Devine le vaisseau")
    
    print("Liste des vaisseaux disponibles:")
    for idx, name in enumerate(data['name']):
        print(f"{idx + 1}. {name}")
    
    for _ in range(tentatives):
        
        tentative = input("Entrez votre tentative: ")
            
        # V√©rifie si le mot existe
        resultat = verifier_ship(ship_secret,ship_guess=tentative)
        if resultat == "Ce mot n'existe pas dans la base de donn√©es!":
            print(resultat)
            continue
            
        print(resultat)
        
        if all(car == "‚úÖ" for car in resultat if car in ["‚úÖ", "üü°", "‚ùå"]):
            print("F√©licitations! Vous avez trouv√© le mot!")
            break
    else:
        print(f"D√©sol√©, vous avez √©puis√© vos tentatives. Le mot √©tait: {ship_secret}")

stardle()

Bienvenue dans Stardle! Devine le vaisseau
Liste des vaisseaux disponibles:
1. 100i
2. 125a
3. 135c
4. 300i
5. 315p
6. 325a
7. 350r
8. 400i
9. 600i Explorer
10. 600i Touring
11. 85X
12. 890 Jump
13. A1 Spirit
14. A2 Hercules
15. Apollo Medivac
16. Apollo Triage
17. Ares Star Fighter Inferno
18. Ares Star Fighter Ion
19. Arrastra
20. Arrow
21. ATLS
22. Aurora CL
23. Aurora ES
24. Aurora LN
25. Aurora LX
26. Aurora MR
27. Avenger Stalker
28. Avenger Titan
29. Avenger Warlock
30. Ballista
31. Blade
32. Buccaneer
33. C1 Spirit
34. C2 Hercules
35. C8 Pisces
36. C8R Pisces
37. C8X Pisces Expedition
38. Carrack
39. Caterpillar
40. Centurion
41. Constellation Andromeda
42. Constellation Aquila
43. Constellation Phoenix
44. Constellation Taurus
45. Corsair
46. Crucible
47. CSV-SM
48. Cutlass Black
49. Cutlass Blue
50. Cutlass Red
51. Cutlass Steel
52. Cutter
53. Cutter Rambler
54. Cutter Scout
55. Cyclone
56. Cyclone AA
57. Cyclone MT
58. Cyclone RC
59. Cyclone RN
60. Cyclone TR
61. Defender
62. Dragonfly
63. E1 Spirit
64. Eclipse
65. Endeavor
66. Expanse
67. F7A Hornet Mk I
68. F7A Hornet Mk II
69. F7C Hornet Mk I
70. F7C Hornet Mk II
71. F7C-M Super Hornet
72. F7C-R Hornet Tracker
73. F7C-R Hornet Tracker Mk II
74. F7C-S Hornet Ghost
75. F7C-S Hornet Ghost Mk II
76. F8C Lightning
77. Freelancer
78. Freelancer DUR
79. Freelancer MAX
80. Freelancer MIS
81. Fury
82. Fury LX
83. Fury MX
84. G12
85. G12a
86. G12r
87. Galaxy
88. Genesis
89. Gladiator
90. Gladius
91. Glaive
92. Guardian
93. Guardian QI
94. Hammerhead
95. Hawk
96. Herald
97. HoverQuad
98. Hull A
99. Hull B
100. Hull C
101. Hull D
102. Hull E
103. Hurricane
104. Idris-M
105. Idris-P
106. Intrepid
107. Ironclad
108. Ironclad Assault
109. Javelin
110. Khartu-Al
111. Kraken
112. Kraken Privateer
113. Legionnaire
114. Liberator
115. Lynx
116. M2 Hercules
117. M50
118. Mantis
119. Merchantman
120. Mercury
121. MOLE
122. MPUV Cargo
123. MPUV Personnel
124. MPUV Tractor
125. Mule
126. Mustang Alpha
127. Mustang Beta
128. Mustang Delta
129. Mustang Gamma
130. Mustang Omega
131. Nautilus
132. Nomad
133. Nova
134. Nox
135. Odyssey
136. Orion
137. P-52 Merlin
138. P-72 Archimedes
139. Paladin
140. Perseus
141. Pioneer
142. Polaris
143. Prospector
144. Prowler
145. PTV
146. Pulse
147. Pulse LX
148. RAFT
149. Railen
150. Ranger CV
151. Ranger RC
152. Ranger TR
153. Razor
154. Razor EX
155. Razor LX
156. Reclaimer
157. Redeemer
158. Reliant Kore
159. Reliant Mako
160. Reliant Sen
161. Reliant Tana
162. Retaliator
163. ROC
164. ROC-DS
165. Sabre
166. Sabre Firebird
167. Sabre Peregrine
168. Sabre Raven
169. San'tok.yƒÅi
170. Scorpius
171. Scorpius Antares
172. Scythe
173. Spartan
174. SRV
175. Starfarer
176. Starfarer Gemini
177. Starlancer MAX
178. Starlancer TAC
179. Storm
180. Storm AA
181. STV
182. Talon
183. Ursa
184. Talon Shrike
185. Terrapin
186. Terrapin Medic
187. Ursa
188. Ursa Medivac
189. Valkyrie
190. Vanguard Harbinger
191. Vanguard Hoplite
192. Vanguard Sentinel
193. Vanguard Warden
194. Vulcan
195. Vulture
196. X1
197. X1 Force
198. X1 Velocity
199. Zeus CL Mk II
200. Zeus ES Mk II
201. Zeus MR Mk II
Ce mot n'existe pas dans la base de donn√©es!
Ce mot n'existe pas dans la base de donn√©es!
Ce mot n'existe pas dans la base de donn√©es!
Ce mot n'existe pas dans la base de donn√©es!
Ce mot n'existe pas dans la base de donn√©es!
Ce mot n'existe pas dans la base de donn√©es!
D√©sol√©, vous avez √©puis√© vos tentatives. Le mot √©tait: Nautilus